<!-- About Section -->
<section class="site-section about-section" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-12 col-md-push-2 col-sm-12 section-header text-center">
        <h2>About Me</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-12 col-md-push-2 col-sm-12 section-content">
        <div class="row">
          <div class="col-sm-12 col-md-10">
            <p>Highly driven front-end developer with a love of great UI design.  I have an excellent understanding of HTML5, CSS, SASS, Bootstrap, Javascript, and Jquery.  Currently focusing on sharpening my skills with Angular, node.js, and Javascript design patterns.  I’m comfortable writing server and API queries and interacting with databases. and I’ve dabbled in building PHP and C programs in the past.  I love to learn and take on new challenges.</p>
            <p>I also have extensive experience in my current role administering and developing for enterprise ITSM web applications such as BMC Remedy and ServiceNow.  Check out my resume for details on this work if interested.</p>
            <p>In my free time, I like travelling with my fiancée, playing guitar and bass, and reading.</p>
          </div>
          <div class="col-sm-12 col-md-2 text-center align-middle">
            <div id="resume">
              <a href="/images/garrett-sitter-resume.pdf"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i><br>
              Resume</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
