<!-- Site Header -->
<header class="big-img">

  <div class="container">
    <!-- Site Header Banner -->
    <div class="row header-banner parent">
      <!-- Heading Title -->
      <div class="heading-title text-center">
        <h1>{{ site.header-title }}</h1>
        <h2 class="thin">{{ site.header-tagline }}</h2>
        <ul class="sm-buttons">
          <li>Linkedin</li>
          <li>Github</li>
          <li>Stack Overflow</li>
        </ul>
      </div>

    </div>

  </div>

</header>
