<!-- Portfolio Section -->
<section class="site-section portfolio-section next-section-indicator" id="portfolio">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header text-center">
        <h2>{{ site.portfolio-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.portfolio-description }}</p>
      </div>

    </div>

    <!-- Portfolio Grid -->
    <div class="row portfolio-grid">

      {% for item in site.data.portfolio %}

      <div class="col-md-3 col-sm-6 item visible">
        <a href="{{ item.url }}" class="item-link" target="_blank"><i class="pe-7s-link"></i>
          <div class="item-content portfolio-item text-center">
            <img src="{{ site.baseurl }}/images/portfolio/{{ item.image }}"/>
            <!--<img src="http://lorempixel.com/500/500/"/>-->
            <div class="portfolio-text">
              <div>{{ item.title }}</div>
              <div>{{ item.description }}</div>
            </div>
              
          </div>
        </a>
      </div>

      {% endfor %}

      <!-- Overlay Lightbox -->
      <!--<div id="overlay" class="overlay"></div>-->

    </div>

  </div>
</section>
