<!-- Portfolio Section -->
<section class="site-section portfolio-section next-section-indicator" id="portfolio">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.portfolio-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.portfolio-description }}</p>
      </div>

    </div>

    <!-- Portfolio Grid -->
    <div class="row portfolio-grid">

      {% for item in site.data.portfolio %}

      <div class="col-md-2 col-sm-2 item visible">

        <div class="item-content temp-header text-center">
          <div class="links">
            <figure class="img-wrap">
              <img src="{{ site.baseurl }}/images/portfolio/{{ item.image }}"/>
            </figure>
            <div><a href="{{ item.url }}" class="item-link" target="_blank"><i class="pe-7s-link"></i>{{ item.title }}</a></div>
            <div>{{ item.description }}</div>
            <!--<li><a href="{{ site.baseurl }}/images/portfolio/{{ item.image }}" class="item-expand"><i class="pe-7s-exapnd2"></i></a></li>-->
          </div>
        </div>
      </div>

      {% endfor %}

      <!-- Overlay Lightbox -->
      <div id="overlay" class="overlay"></div>

    </div>

  </div>
</section>
