/**
 *
 *  Global Classes Style
 *
 *  @package gleesik_module
 *
 **/

// Typography
.text-center {
  text-align: center;
}

// Alignament Block
.parent {
  position: relative;
}

.child-center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.child-center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.child-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Block Tools
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

// Clearfix
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
