/**
 *
 *  Variables
 *
 *  @package gleesik_module
 *
 **/

// Colors
$white: #fff;
$black: #000;

// Typography
$global-font-size: 16px;

// Animations Timing
$transition-links: 300ms;

// Animations Types
$transition-links-type: ease-in-out;
