// Variables

// typography
$title-font:                             'Josefin Sans', sans-serif
$global-font:                            'Source Sans Pro', sans-serif
$global-font-size:                       16px

// Colors
$global-color:                           white
$background-color:                       lighten(#000, 12%)
